In [1]:
import ephem
import pandas as pd 
import os
from datetime import datetime, timedelta

In [2]:
def get_solar_position(latitude, longitude, date):
    observer = ephem.Observer()
    observer.lat = str(latitude)
    observer.long = str(longitude)
    observer.date = date

    sun = ephem.Sun(observer)

    azimuth = sun.az * 180 / ephem.pi
    altitude = sun.alt * 180 / ephem.pi

    return azimuth, altitude

In [3]:
latitude = -7.921179
longitude = 112.599392

In [4]:
start_date = datetime(2014, 1, 1)
end_date = datetime(2017, 1, 1)

time_interval = timedelta(minutes= 10 )

In [5]:
data_list = []
current_date = start_date

while current_date <= end_date:
    azimuth, altitude = get_solar_position(latitude, longitude, current_date)

    data_list.append({
        'Datetime' : current_date,
        'Latitude': latitude,
        'Longitude': longitude,
        'Azimuth': azimuth,
        'Altitude': altitude
    })

    current_date += time_interval

In [6]:
df = pd.DataFrame(data_list)
df.head(10)

             Datetime  Latitude   Longitude     Azimuth   Altitude
0 2014-01-01 00:00:00 -7.921179  112.599392  111.709854  23.114890
1 2014-01-01 00:10:00 -7.921179  112.599392  111.777528  25.410448
2 2014-01-01 00:20:00 -7.921179  112.599392  111.892098  27.705151
3 2014-01-01 00:30:00 -7.921179  112.599392  112.056814  29.998075
4 2014-01-01 00:40:00 -7.921179  112.599392  112.275592  32.288261
5 2014-01-01 00:50:00 -7.921179  112.599392  112.553137  34.574687
6 2014-01-01 01:00:00 -7.921179  112.599392  112.895083  36.856234
7 2014-01-01 01:10:00 -7.921179  112.599392  113.308173  39.131646
8 2014-01-01 01:20:00 -7.921179  112.599392  113.800493  41.399498
9 2014-01-01 01:30:00 -7.921179  112.599392  114.381729  43.658153

In [7]:
base_directory = 'solar_data'
csv_file_path = os.path.join(base_directory, f'solar_data_{start_date.strftime("%B").lower()}_{start_date.year}_to_{end_date.strftime("%B").lower()}_{end_date.year}.csv')
df.to_csv(csv_file_path, index=False, sep=';')

print(f"Data save in : {csv_file_path}")

Data save in : solar_data/solar_data_january_2014_to_january_2017.csv